<div class="header">

    <div class="header-wrapper row-left">
        <ul>
            <li>
                <a class="header-logo" routerLink="/">
                    <img src="../../../../assets/images/1x/Recurso 2.png">
                </a>
            </li>
            <li>
                <app-search-field></app-search-field>
             </li>
            <li>
                <app-auth-shortcuts></app-auth-shortcuts>
            </li>
            <li>
                <app-media-shortcuts></app-media-shortcuts>
            </li>
            <li>
                <app-language-shortcuts></app-language-shortcuts>
            </li>
        </ul>
    </div>

    <div class="header-wrapper row-wide">
        <app-navbar></app-navbar>
    </div>
    
</div>