<div class="about">
  <section class="about-cover">
    <div class="about-cover--wrapper">
      <h1>The Alert Movie DB</h1>
      <p>
        The<strong>Alert</strong>Movie BD is a web app angular-based full of
        amazing feature to start playing around with MovieDB free API. This is a
        basic apporach but it shows the potential of that library.
      </p>
      <img src="../../../assets/images/1x/Recurso 6.png" />
    </div>
  </section>

  <section class="features">
    <h1>Features</h1>
    <ul>
      <li> SEARCH MOVIE BY TITLE </li>
      <li> SEARCH CAST BY NAME</li>
      <li> RELATED MOVIE WITH RECOMMENDATIONS</li>
      <li> SHOW TRENDING MOVIES</li>
    </ul>
  </section>
</div>
